/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/sprites
/public/svgs
/public/webfonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.editorconfig
/public/mix-manifest.json
